@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
  --font-serif: "Domine", serif;
  --color-accent: var(--color-indigo-500);
  --color-accent-hover: var(--color-indigo-600);
  --color-lighter-gray: var(--color-gray-100);
  --color-light-gray: var(--color-gray-300);

  --color-bg: var(--color-gray-50);
  --color-bg-alt: var(--color-lighter-gray);
  --color-text: var(--color-gray-900);
}

.dark {
  --color-bg: #0f172a;
  --color-bg-alt: var(--color-slate-800);
  --color-text: var(--color-gray-100);
}

@layer base {
  body {
    @apply bg-bg text-text;
  }

  a {
    @apply underline;
  }
}
